@model IEnumerable<webCore.Models.ReportsModel>

@{
    ViewData["Title"] = "Post Moderation";
}



<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Social ID
            </th>
            <th>
                Reason
            </th>
            <th>
                Time Report
            </th>
            <th>
                Report Result
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReportResult)
                </td>
                @if (item.ReportResult != "Post Removed" && item.ReportResult != "Post Remain")
                {
                    <td>
                        @Html.ActionLink("Details", "SocialMedia", new { socialId = item.SocialID, reportTime = item.ReportTime }) |
                        @Html.ActionLink("Delete", "Delete", new { socialId = item.SocialID, reportTime = item.ReportTime, id = item.Id }, new { onclick = "return confirmDelete('" + item.Id + "');" }) |
                        @Html.ActionLink("Keep", "Keep", new { socialId = item.SocialID, reportTime = item.ReportTime, id = item.Id }, new { onclick = "return confirmKeep('" + item.Id + "');" })
                    </td>
                }


                @if (item.ReportResult == "Post Remain")
                {
                    <td>
                        @Html.ActionLink("Details", "SocialMedia", new { socialId = item.SocialID, reportTime = item.ReportTime })
                    </td>
                }
                


            </tr>
        }
    </tbody>
    <script>
        function confirmDelete(id) {
            return confirm('Are you sure you want to delete item with ID: ' + id + '?');
        }

        function confirmKeep(id) {
            return confirm('Are you sure you want to keep item with ID: ' + id + '?');
        }

       
    </script>

    @if (TempData["Message"] != null)
    {
        <script>alert('@TempData["Message"]');</script>
    }


</table>
